:root{
    --color-card-bg: hsl(0, 0%, 100%); /* white */
    
    --color-card-text: hsl(220, 15%, 55%); /* grayish blue*/
    --color-card-title: hsl(218, 44%, 22%); /* dark blue */ 

    --color-bg: hsl(212, 45%, 89%);  /* Light gray */
}
body{
    
    background-color: var(--color-bg);
    font-family:  "Outfit", sans-serif;
}
.card{
    margin: 85px auto 85px;
    display: block;
    max-width: 320px;
    padding: 16px;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    background-color: var(--color-card-bg);
}

.card > h2, p {
    text-align: center;
    margin: 0 20px 16px;
    
}

p{
    color: var(--color-card-text);
    font-size: 15px;
}

h2{
    font-size: 24px;
    color: var(--color-card-title);
}

.card img{
    
    width: 100%;
    border-radius: 8px;
    margin-bottom: 16px;

}